.dialog-box {
    &__container {
        border-radius: 8px;
        position: fixed;
        padding: 20px;
        border: 4px solid black;
        width: 100%;
        height: 25vh;
        bottom: 0;
        background: white;
        color: black;
        z-index: 2;
        font-size: 20px;
        overflow: scroll;
    }

    &__speaker {
        position: absolute;
        bottom: 20vh;
        left: 10px;
        width: 60%;
    }

    &__speaker--npc {
        right: 10px;
        left: auto;
    }

    &__arrow-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0.5;
        animation: appearDissapear 1.2s infinite ease-in-out;
    }

    @keyframes appearDissapear {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }
}