.home-page {

    &__container {
        padding: 20px;
        position: relative;
        background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(110, 110, 110, 1) 47%, rgba(0, 0, 0, 1) 99%);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 20px;
    }

    &__story-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        padding: 10px 5px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.2);
    }
}