.home-page {

    &__container {
        padding: 20px;
        position: relative;
        background: rgb(73, 73, 73);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 20px;
    }

    &__story-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid white;
        padding: 10px 15px;
        border-radius: 8px;
        background: rgb(51, 165, 121);
    }

    &__story-content-container {
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }

    &__story-container--fallingObject {
        background: rgb(42, 118, 141);
    }

    &__story-container--question {
        background: rgb(226, 163, 91);
    }

    &__number {
        display: flex;
        justify-content: center;
        border: 1px solid white;
        padding: 5px 2px;
        border-radius: 5px;
        width: 40px;
        box-sizing: content-box;
    }

    &__date {
        font-size: 10px;
    }
}