.home-page {

    &__container {
        padding: 20px;
        position: relative;
        background: rgb(41, 41, 41);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 20px;
    }

    &__story-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        padding: 10px 5px;
        border-radius: 8px;
        background: rgba(124, 94, 255, 0.2);
    }

    &__story-container--fallingObject {
        background: rgb(69, 36, 80);
    }
}