.question {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 3;
        gap: 20px;
    }

    &__textarea {
        width: 100%;
        padding: 10px;
        height: 20vh;
    }

    &__button {
        padding: 10px 20px;
    }
}