.login {
    &__container {
        padding-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        height: 100vh;
        font-size: 30px;
    }
}