.story {
    &__container {
        padding: 20px;
        position: relative;
        background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(110, 110, 110, 1) 47%, rgba(0, 0, 0, 1) 99%);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 20px;
    }

    &__date {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        padding: 5px 10px;
    }
}